
{% extends "Libreria/base.html" %}

{% load static %}

{% block content %}
{% if libros|length == 0 %}
  <p></p>
  <h2 style = " text-align: center;">No hay coincidencias</h2>
  <p></p>
{% else %}

  {% for libro in libros %}

  <div><p>
    <p style="text-align: center;"><img src = '{{libro.imagen.url}}' alt="#" width="200" height="300" ></p>
    <h2 style =" text-align: center;">{{libro.nombre}}</h2>
    <p style =" text-align: center;">{{libro.genero}}, {{libro.autor}}</p>
    <p><br></p>
    <div style="text-align: center;">  
      <li class=" d_none get_btn text-align: center">
        <a  href="{% url 'Producto' libro_id=libro.id %}">Ver Libro</a>
      </li>
        <p><br></p>
      {% if 'Usuarios.Permiso_Empleado' in perms %}
      <li class=" d_none get_btn">
        <a  href="{% url 'Actualizar' libro_id=libro.id %}">Editar Libro</a>
      </li>
      {% endif %}
    </div>
    <p><br></p>
    <p><br></p>
    <p><br></p>
  </p></div>

  {% endfor %}
{% endif %}

{% endblock  %}