{% extends "Libreria/base.html" %}

{% load static %}

{% block content %}

<p><br></p>
<p><br></p>
<p><br></p>
<div class="row">
    <div class="col-md-12">
       <div id="myCarousel" class="carousel slide about_Carousel " data-ride="carousel">
             <div class="carousel-item active">
                <div class="container">
                   <div class="carousel-caption ">
                      <div class="row">
                         <div class="col-md-12">
                            <div class="test_box">
                               <i><img src= "{{libro.imagen.url}}" alt="#"  width="200" height="300" /></i>
                                    <p><br></p>
                                    <h4 style="text-align:center ;">Nombre: {{libro.nombre}} </h4>
                                    <p><br></p>
                                    <h2>Autor: {{libro.autor}}, Género: {{libro.genero}} </h2>
                                    <h3>Descripción: {{libro.descripcion}} </h3>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
       </div>
    </div>
 </div>
 <p><br></p>
 <p><br></p>
 <p><br></p>
{% endblock  %}