{% extends 'Libreria/base.html' %}

{% block content %}
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p style ="text-align: center;background-color: rgb(36, 36, 36); color: white;" > Llena el formulario con tu informacion </p>
<form style ="text-align: center;background-color: rgb(36, 36, 36); color: white;" class="form" method="post">
  {% csrf_token %}
  {{ form.as_p}}

  <button type="submit" id="submit">Registrarse</button>

</form>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
{% endblock  %}
