{% extends "Libreria/base.html" %}

{% load static %}

{% block content %}

<section class="banner_main">
  <div class="container">
     <div class="row">
        <div class="col-md-12 ">
           <div class="text-bg">
              <h1>¿Buscas un libro?</h1>
              <p>“Los libros son los amigos más tranquilos y constantes; son los consejeros más accesibles y sabios, y los maestros más pacientes”.
               —Charles W. Eliot</p>
              <a href="{% url 'Nosotros' %}">¿Quiénes somos?</a>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- end banner -->
<!-- three_box -->
<div class="three_box">
  <div class="container">
     <div class="row">
        <div class="col-md-4">
           <div class="box_text">
              <figure><img src="{% static 'Libreria/images/libros2.jpg' %}" alt="#"/></figure>
           </div>
        </div>
        <div class="col-md-4">
           <div class="box_text">
              <figure><img src="{% static 'Libreria/images/libros1.jpg' %}" alt="#"/></figure>
           </div>
        </div>
        <div class="col-md-4">
           <div class="box_text">
              <figure><img src="{% static 'Libreria/images/libros3.jpg' %}" alt="#"/></figure>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- three_box -->
<!-- hottest -->
<div  class="hottest">
  <div class="container">
     <div class="row d_flex">
        <div class="col-md-5">
           <div class="titlepage">
              <h2>¿Sabes Los Beneficios De Leer?</h2>
           </div>
        </div>
        <div class="col-md-7">
           <div class="hottest_box">
              <p>1) Aumenta nuestra inteligencia emocional <br> 2) Mejora nuestro vocabulario <br> 3) Potencia nuestra cultura general  <br> 4) Es el mejor apoyo a nuestra ortografía  <br> 5) Nos desestresa <br> 6) Hace que usemos la imaginación <br> 7) Refuerza nuestro compromiso y fuerza de voluntad </p>
           </div>
        </div>
     </div>
  </div>
</div>
</div>
</div>
<!-- end hottest -->
<!-- choose  section -->
<div class="choose ">
  <div class="container">
     <div class="row">
        <div class="col-md-8">
           <div class="titlepage">
              <h2>¿Porque Usar Librería UN? </h2>
           </div>
        </div>
     </div>
  </div>
  <div class="container-fluid">
     <div class="row d_flex">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
           <div class="padding_with">
              <div class="row">
                 <div class="col-md-6 padding_bottom">
                    <div class="choose_box">
                       <i><img src="{% static 'Libreria/images/icon1.png' %}" alt="#"/></i>
                       <div class="choose_text">
                          <h3>Excelente Servicio</h3>
                          <p>Con nosotros contarás al 100% con seriedad y responsabilidad al tomar el servicio </p>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6 padding_bottom">
                    <div class="choose_box">
                       <i><img src="{% static 'Libreria/images/icon2.png' %}" alt="#"/></i>
                       <div class="choose_text">
                          <h3>Tú Escoges</h3>
                          <p>Al momento de pedir un préstamo, eres tú quien decide el tiempo que deseas tener el libro </p>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6 padding_bottom2">
                    <div class="choose_box">
                       <i><img src="{% static 'Libreria/images/icon3.png' %}" alt="#"/></i>
                       <div class="choose_text">
                          <h3>Facilidad</h3>
                          <p>Encuentra libros exclusivos de tu interés a tan solo unos clics de distancia</p>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="choose_box">
                       <i><img src="{% static 'Libreria/images/icon4.png' %}" alt="#"/></i>
                       <div class="choose_text">
                          <h3>Variedad</h3>
                          <p>Encuentra con nosotros libros de varios géneros que se te puedan ocurrir </p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
           <div class="choose_img">
              <figure><img src="{% static 'Libreria/images/porque_usar.png' %}" alt="#"/></figure>
           </div>
        </div>
     </div>
  </div>
  <div class="container">
     <div class="row">
        <div class="col-md-5">
           <a class="read_more" href="{% url 'Nosotros' %}">Leer Más...</a>
        </div>
     </div>
  </div>
</div>
</div>

{% endblock %}

    