{% extends "Libreria/base.html" %}

{% load static %}

{% block content %}

<div class="choose ">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <div class="titlepage">
                <h2 style="color: rgb(242, 245, 87)">¿Quiénes somos? </h2>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid">
       <div class="row d_flex">
          <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
             <div class="padding_with">
                <div class="row">
                  <h1 style="color: white;">Somos 3 estudiantes de la Universidad Nacional de Colombia, que cursan actualmente la carrera de Ingeniería de Sistemas y Computación.  Nos hemos propuesto el reto de hacer una página web la cual funcione como una librera virtual en la cual se gestionen préstamos y devoluciones de libros en formato físico.</h1>
                </div>
             </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
             <div class="choose_img">
                <figure><img src="{% static 'Libreria/images/fotounal.jpeg' %}" alt="#"/></figure>
             </div>
          </div>
       </div>
    </div>
  </div>

{% endblock %}